{% extends 'layout.html.twig' %}

{% block content %}
<main class="container">
    <h1 class="text-center mt-5 mb-5"> La musique élue par nos utilisateurs est : </h1>
	<div class="group justify-content-around mt-5 mb-5">
		<img src="/assets/images/etoile.jpg" alt="Etoiles" width="60px">
		<img src="/assets/images/etoile.jpg" alt="Etoiles" width="60px">
		<img src="/assets/images/etoile.jpg" alt="Etoiles" width="60px">
		<img src="/assets/images/etoile.jpg" alt="Etoiles" width="60px">
		<img src="/assets/images/etoile.jpg" alt="Etoiles" width="60px">
	</div>
		<div class="list-group align-items-center">
			{% for vote in votes %}
				<div class="d-inline-flex p-2 bd-highlight card-{{ vote.genre_name }} mb-5" style="width: 20rem">
					<img class="align-self-center rounded-circle" src="{{ vote.music_image}}" alt="" width="80" height="80"/>
					<div class="m-2 align-self-center">
						<h5 class="card-title">{{ vote.title }}</h5>
						<h6 class="card-subtitle mb-2 text-muted">By
							{{ vote.author}}</h6>
						<a href="music/player?id={{ vote.id }}" class="card-link">Link player</a>
					</div>
				</div>
			{% endfor %}
	</div>
</main>
{% endblock %}